<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="@Url.Content("/Content/css/css.css")" type="text/css" rel="stylesheet">
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="wrapper">
        @Html.Partial("_Top")
        @RenderBody()
        @Html.Partial("_Bottom")
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
    </div>
</body>
</html>
