@model www.flymsg.com.context.Evaluation

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>Evaluation</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.GameId)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.GameId)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ClientCount)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ClientCount)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.VisitCount)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.VisitCount)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Eat)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Eat)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.CreateTime)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CreateTime)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.CreateUser)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CreateUser)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.UpdateTime)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.UpdateTime)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.UpdateUser)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.UpdateUser)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
