@using System.Xml.Linq
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/index.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/bootstrap")
    <link href="~/Content/css/css.css" type="text/css" rel="stylesheet" />
</head>
<body ng-app="myapp" ng-controller="header_nav">
    @RenderBody()
</body>
</html>